
body{
    background-color: rgb(22, 75, 96);
    padding: 0;
    margin: 0;
}
.container-fluid{
    background-color: rgb(22,75,96);

}

.navbar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.619);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}



.hero-section{
    position:relative;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h1{
    font-size: 50px;
    color: #cbd0c9;
}
.floating{
    position: relative;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}
.centered button{
    border-radius: 5%;
    /* width: 10em;
    height: 2em; */
}
button:hover{
    background-color: grey;
    border: 2px solid white;
}
.banner{
    z-index: 0;
}
.tagline{
    z-index: 1;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cbd0c9;
    min-height: 10em;
    min-width: 17em; 
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;


    
}
.feature h2{
    margin-top: 10px;
    margin-bottom:0;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    min-height: 15em;
    background-color: rgba(255, 255, 255, 0.207);
}
.features a{
    text-decoration: none;
    color: black;
}
.feature:hover{
    font-size:medium;
    background-color: white;
}
.moreFeature:hover{
    font-size:medium;
    background-color: white;

}
.moreFeatures a{
    text-decoration: none;
    color: black;
}
.moreFeatures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.207);
    min-height: 30em;
    
}

.moreFeature{
    padding: 20px;
    margin: auto;
    background-color: #cbd0c9;
    min-height: 20rem;
    min-width: 17em; 
    max-width: 35em;
    border-radius: 5px;
    text-align: center;
    margin:20px 30px;

}
.h1{
    position: relative;
    top: 0;

}
.image{
    padding-top: 35px;
    /* height:55px; */
}
.footer{
    background-color: rgba(255, 255, 255, 0.619);
    /* padding: 1%; */
    text-align: center;
    color: black;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.abcd{
    color: white;

}
.A{
    transform: translateX(-150vh);
    scale: 0.6;
    opacity: 0.6;
    animation: backToPosition 2s forwards;
    animation-timeline: view();
    animation-range: 0 50vh;
}
.B{
    transform: translateX(150vh);
    animation:backToPosition 2s forwards;
    animation-timeline: view();
    animation-range: 0 50vh;
}
@keyframes backToPosition {
    100%{
        transform:translate(0);
        scale: 1;
        opacity: 1;
    }
}